
@media screen and (max-width: 992px){
	.fourth img{
		width: 150px;
	}	
}

@media screen and (max-width: 768px){
	.content-content {
	    max-width: 50%;
	}
	.fourth {
	    width: 50%;
	}
	.fourth img{
		width: 200px;
	}
}

@media screen and (max-width: 576px){
	.content-content {
	    max-width: 100%;
	}
	.fourth {
	    width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.logo {
	    max-width: 100%;
	    float: unset;
	    text-align: center;
	}
	.menu {
	    max-width: 100%; 
	    float: unset; 
	    text-align: center;
	}
	.menu ul li {
	     float: unset; 
	     margin-bottom: 0px; 
	}

}
