/********************************
Home Page Responsive Start
***********************************/

@media screen and (max-width: 992px){
	.fourth img{
		width: 150px;
	}	
}

@media screen and (max-width: 768px){
	.content-content {
	    max-width: 50%;
	}
	.fourth {
	    width: 50%;
	}
	.fourth img{
		width: 200px;
	}
}

@media screen and (max-width: 576px){
	.content-content {
	    max-width: 100%;
	}
	.fourth {
	    width: 100%;
	}
}

@media screen and (max-width: 420px) {
	.logo {
	    max-width: 100%;
	    float: unset;
	    text-align: center;
	}
	.menu {
	    max-width: 100%; 
	    float: unset; 
	    text-align: center;
	}
	.menu ul li {
	     float: unset; 
	     margin-bottom: 0px; 
	}

}

/********************************
About Page Responsive Start
***********************************/
















/*
@media screen and (max-width:890px){
	.fourth {
    width: 50%;
    }
	.content-content {
    width: 50%;
    }
}

@media screen and (max-width:1024px){
	.fourth {
    width: 33%;
    }
	.content-content {
    width: 33%;
	max-width: none;
    }
	.content-content p{
		padding:20px 10px;
	}
	
	.menu ul li {
    padding: 20px 10px;
    }
}

@media screen and (max-width:768px){
	.fourth {
    width: 49%;
    }
	.content-content {
    width: 50%;
    }
	.container {
	padding: 0 20px;
    }
}

@media screen and (max-width:640px){
	.fourth {
	
    }
	.content-content {
    max-width:50%;
    }
	.menu {
    float: left;
	}
	.logo {
    float: none;
	}
	.menu ul li{
	
	float:none;
	}
	.contact-content {
	margin-left: 15%;
	}

}
@media screen and (max-width:480px){
	.fourth {
    width: 100%;
	
    }
	.content-content {
    width: 50%;
    }
	.menu {
    float: left;
	}
	.logo {
    float: none;
	}
	.menu ul li{
	
	float:none;
	}
	.contact-content {
		margin-left:10%;
	}
}
@media screen and (max-width:375px){
	.contact-content {
		margin-left:0%;
	}
	input[type="email"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
	input[type="text"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
	.contact-message textarea {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
}
@media screen and (max-width:320px){
	
	.contact-content {
		margin-left:0%;
	}
input[type="email"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
	input[type="text"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
	.contact-message textarea {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 200px;
	}
	
	.menu {
    float: left;
	}
	.logo {
    float: none;
	}
}*/












