*{
	margin:0;
	padding:0;
}
body{
    font-family: 'Princess Sofia', cursive;
	background: url(../images/bg.png); 
    background-position: center; 
	background-attachment: fixed; 
}
#first{
	background:#c8f0c1;
}
.container{
	max-width:1170px;
	margin:0 auto;
	overflow:hidden;
}
.full-width {
    padding-top: 15px;
    padding-bottom: 90px;
}
.logo{
	max-width:30%;
	float:left;
}
.logo img{
	width:70px;
}
.menu{
	max-width:70%;
	float:right;
	padding-top:23px;
}
.menu ul li{
	list-style:none;
	padding:0px 10px;
	float:left;
}
.menu ul li a{
	text-decoration:none;
	font-size:15px;
	text-transform:uppercase;
	color:#c8f0c1;
	background:#9BCC5F;
	padding:10px 15px;
	display: inherit;
}
.menu ul li a:hover{
	background:#cfe7b1;
	color:#42b92d;
}
#second-section {
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
	background-repeat:no-repeat;
}
.content{
	font-size:20px;
	padding:200px 0px;
	text-align:center;
}
.content h2{
	color:gray;
	font-size:40px;
	text-shadow: 5px 9px 10px grey;
}
.content p{
	padding-top:30px;
}
.section-top{
	text-align:center;
	padding:30px 0px;
}
.section-top h2{
	color:gray;
	font-size:40px;
	text-shadow: 5px 9px 10px grey;
}
.third-content{
	overflow:hidden;
	padding:60px 0px;
}
.content-content{
	max-width:25%;
	float:left;
	text-align:center;	
}
.content-content h2{
	padding:20px 0px;
	color:gray;
	text-shadow: 5px 9px 10px grey;
}
.content-content p{
	padding:20px 0px;
}
#fourth-section{
	padding:200px 0px;
	background:url(../images/bg2.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
.fourth {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 30px;
}
.fourth img{
	border-radius:50%;
}
.fourth h2{
	color:gray;
}
.fourth p{
	color:#fff;
}
.fourth-top{
	text-align:center;
}
.fourth-top h2{
	color:gray;
	font-size:40px;
	text-shadow: 5px 9px 10px grey;
}
.fourth-top p{
	font-size:25px;
	padding-bottom:40px; 
	color:#fff;
}
#footer{
	background:#c8f0c1;
	color:#37404F;
	padding:20px;
	text-align:center;
}

/*
	Css Code For about.html
*/

#about-sec{
	margin:50px 0px;
}
.about{}
.about-content{}
.about-content-heading{
	margin: 40px 0px;
}
.about-content-heading-title{}
.about-content-heading-title h2{
	text-align:center;
	font-size: 30px;
	text-transform:uppercase;
	padding:10px 0px;
}
.about-content-heading-description{}
.about-content-heading-description p{
	font-size:20px;
}
input[type="text"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 333px;
}
input[type="email"] {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 333px;
}
.contact-message textarea {
    padding: 10px;
    margin: 10px 5px;
    display: inherit;
    width: 333px;
}
.contact-button{
	padding:10px 0px;
}
.contact-button button {
    padding: 15px;
    background-color: #9bcc5f;
    border: none;
}
.contact-button button:hover {
    background-color: #c8f0c1;
	transition:1s;
}
section#contact-sec {
    padding-top: 20px;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-content {
    margin-left: 30%;
}
input[type="text"]:focus, 
input[type="email"]:focus, 
.contact-message textarea:focus {
    border:2px solid #31001c;
    background: #c8f0c1;
}